<h2 class="spectrum">Nacteni souboru</h2>
<style>
.spectrum {
  font-size: 48px;
  text-align: center;
  color: white;
  animation: colorCycle 5s infinite linear;
}
@keyframes colorCycle {
  0% { color: red; }
  25% { color: yellow; }
  50% { color: lime; }
  75% { color: cyan; }
  100% { color: red; }
}
</style>

In [1]:
import pandas as pd
df=pd.read_csv(r"data\countries of the world.csv", sep=",")   # https://www.kaggle.com/datasets/fernandol/countries-of-the-world/code
df

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [2]:
df=pd.read_table(r"data\countries of the world.txt", sep='|') #oddelit tabulatorom   (\t) (',') | (pipe)
df

,Název země,Region,Počet obyvatel,HDP na osobu ($)
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,700
1,Albania,EASTERN EUROPE,3581655,4500
2,Algeria,NORTHERN AFRICA,32930091,6000
3,Andorra,WESTERN EUROPE,71201,19000
4,Angola,SUB-SAHARAN AFRICA,12127071,1900
5,Argentina,LATIN AMER. & CARIB,39921833,11200
6,Armenia,CIS,2982904,3500
7,Australia,OCEANIA,20264082,30000
8,Austria,WESTERN EUROPE,8192880,30000
9,Azerbaijan,CIS,7961619,3400
10,Bangladesh,ASIA (EX. NEAR EAST),147365352,1900
11,Belgium,WESTERN EUROPE,10379067,29100
12,Brazil,LATIN AMER. & CARIB,188078227,8600
13,Canada,NORTHERN AMERICA,33098932,29800
14,China,ASIA (EX. NEAR EAST),1313973713,5000
15,Czech Republic,EASTERN EUROPE,10235455,15700
16,Denmark,WESTERN EUROPE,5450661,31100
17,Egypt,NORTHERN AFRICA,78887007,4000
18,Finland,WESTERN EUROPE,5241377,29700
19,France,WESTERN EUROPE,60876136,27600
20,Germany,WESTERN EUROPE,82422299,27600
21,Hungary,EASTERN EUROPE,10006835,13900
22,India,ASIA (EX. NEAR EAST),1095351995,2900
23,Indonesia,ASIA (EX. NEAR EAST),245452739,3600
24,Iran,ASIA (EX. NEAR EAST),68688433,7000
25,Iraq,ASIA (EX. NEAR EAST),26783383,1500
26,Ireland,WESTERN EUROPE,4062235,29600
27,Israel,NEAR EAST,6352117,19900
28,Italy,WESTERN EUROPE,58133509,26700
29,Japan,ASIA (EX. NEAR EAST),127463611,28200
30,Mexico,LATIN AMER. & CARIB,107449525,9000
31,Netherlands,WESTERN EUROPE,16491461,28600
32,Norway,WESTERN EUROPE,4610820,37800
33,Pakistan,ASIA (EX. NEAR EAST),165803560,2100
34,Poland,EASTERN EUROPE,38536869,12100
35,Portugal,WESTERN EUROPE,10605870,18000
36,Romania,EASTERN EUROPE,22303552,8200
37,Russia,CIS,142893540,8900
38,Slovakia,EASTERN EUROPE,5439448,13300
39,South Africa,SUB-SAHARAN AFRICA,44187637,10700
40,Spain,WESTERN EUROPE,40397842,22000
41,Sweden,WESTERN EUROPE,9016596,29600
42,Switzerland,WESTERN EUROPE,7523934,32700
43,Turkey,NEAR EAST,70413958,6700
44,Ukraine,CIS,46710816,5400
45,United Kingdom,WESTERN EUROPE,60609153,27700
46,United States,NORTHERN AMERICA,298444215,37800
47,Vietnam,ASIA (EX. NEAR EAST),84402966,2500
48,Zimbabwe,SUB-SAHARAN AFRICA,12236805,1900

In [3]:
df=pd.read_json(r"data\countries of the world.json")
df

        Název země                Region  Počet obyvatel  HDP na osobu ($)
0      Afghanistan  ASIA (EX. NEAR EAST)        31056997               700
1          Albania        EASTERN EUROPE         3581655              4500
2          Algeria       NORTHERN AFRICA        32930091              6000
3          Andorra        WESTERN EUROPE           71201             19000
4           Angola    SUB-SAHARAN AFRICA        12127071              1900
5        Argentina   LATIN AMER. & CARIB        39921833             11200
6          Armenia                   CIS         2982904              3500
7        Australia               OCEANIA        20264082             30000
8          Austria        WESTERN EUROPE         8192880             30000
9       Azerbaijan                   CIS         7961619              3400
10      Bangladesh  ASIA (EX. NEAR EAST)       147365352              1900
11         Belgium        WESTERN EUROPE        10379067             29100
12          Brazil   LATIN AMER. & CARIB       188078227              8600
13          Canada      NORTHERN AMERICA        33098932             29800
14           China  ASIA (EX. NEAR EAST)      1313973713              5000
15  Czech Republic        EASTERN EUROPE        10235455             15700
16         Denmark        WESTERN EUROPE         5450661             31100
17           Egypt       NORTHERN AFRICA        78887007              4000
18         Finland        WESTERN EUROPE         5241377             29700
19          France        WESTERN EUROPE        60876136             27600
20         Germany        WESTERN EUROPE        82422299             27600
21         Hungary        EASTERN EUROPE        10006835             13900
22           India  ASIA (EX. NEAR EAST)      1095351995              2900
23       Indonesia  ASIA (EX. NEAR EAST)       245452739              3600
24            Iran  ASIA (EX. NEAR EAST)        68688433              7000
25            Iraq  ASIA (EX. NEAR EAST)        26783383              1500
26         Ireland        WESTERN EUROPE         4062235             29600
27          Israel             NEAR EAST         6352117             19900
28           Italy        WESTERN EUROPE        58133509             26700
29           Japan  ASIA (EX. NEAR EAST)       127463611             28200
30          Mexico   LATIN AMER. & CARIB       107449525              9000
31     Netherlands        WESTERN EUROPE        16491461             28600
32          Norway        WESTERN EUROPE         4610820             37800
33        Pakistan  ASIA (EX. NEAR EAST)       165803560              2100
34          Poland        EASTERN EUROPE        38536869             12100
35        Portugal        WESTERN EUROPE        10605870             18000
36         Romania        EASTERN EUROPE        22303552              8200
37          Russia                   CIS       142893540              8900
38        Slovakia        EASTERN EUROPE         5439448             13300
39    South Africa    SUB-SAHARAN AFRICA        44187637             10700
40           Spain        WESTERN EUROPE        40397842             22000
41          Sweden        WESTERN EUROPE         9016596             29600
42     Switzerland        WESTERN EUROPE         7523934             32700
43          Turkey             NEAR EAST        70413958              6700
44         Ukraine                   CIS        46710816              5400
45  United Kingdom        WESTERN EUROPE        60609153             27700
46   United States      NORTHERN AMERICA       298444215             37800
47         Vietnam  ASIA (EX. NEAR EAST)        84402966              2500
48        Zimbabwe    SUB-SAHARAN AFRICA        12236805              1900

In [4]:
import pandas as pd
df=pd.read_excel(r"data\countries of the world.xlsx", sheet_name='Počet obyvatel')  # stranka v Excely 
df

        Název země                Region  Počet obyvatel  HDP na osobu ($)
0            China  ASIA (EX. NEAR EAST)      1313973713              5000
1            India  ASIA (EX. NEAR EAST)      1095351995              2900
2    United States      NORTHERN AMERICA       298444215             37800
3        Indonesia  ASIA (EX. NEAR EAST)       245452739              3600
4           Brazil   LATIN AMER. & CARIB       188078227              8600
5         Pakistan  ASIA (EX. NEAR EAST)       165803560              2100
6       Bangladesh  ASIA (EX. NEAR EAST)       147365352              1900
7           Russia                   CIS       142893540              8900
8            Japan  ASIA (EX. NEAR EAST)       127463611             28200
9           Mexico   LATIN AMER. & CARIB       107449525              9000
10         Vietnam  ASIA (EX. NEAR EAST)        84402966              2500
11         Germany        WESTERN EUROPE        82422299             27600
12           Egypt       NORTHERN AFRICA        78887007              4000
13          Turkey             NEAR EAST        70413958              6700
14            Iran  ASIA (EX. NEAR EAST)        68688433              7000
15          France        WESTERN EUROPE        60876136             27600
16  United Kingdom        WESTERN EUROPE        60609153             27700
17           Italy        WESTERN EUROPE        58133509             26700
18         Ukraine                   CIS        46710816              5400
19    South Africa    SUB-SAHARAN AFRICA        44187637             10700
20           Spain        WESTERN EUROPE        40397842             22000
21       Argentina   LATIN AMER. & CARIB        39921833             11200
22          Poland        EASTERN EUROPE        38536869             12100
23          Canada      NORTHERN AMERICA        33098932             29800

In [5]:
pd.set_option('display.max_row', 55)  # zobrazit vsechny radky
pd.set_option('display.max_columns', 20)  # zobrazit vsechny sloupce

In [6]:
df2=pd.read_excel(r"data\countries of the world.xlsx", sheet_name='Počet obyvatel')  # stranka v Excely 
df2

        Název země                Region  Počet obyvatel  HDP na osobu ($)
0            China  ASIA (EX. NEAR EAST)      1313973713              5000
1            India  ASIA (EX. NEAR EAST)      1095351995              2900
2    United States      NORTHERN AMERICA       298444215             37800
3        Indonesia  ASIA (EX. NEAR EAST)       245452739              3600
4           Brazil   LATIN AMER. & CARIB       188078227              8600
5         Pakistan  ASIA (EX. NEAR EAST)       165803560              2100
6       Bangladesh  ASIA (EX. NEAR EAST)       147365352              1900
7           Russia                   CIS       142893540              8900
8            Japan  ASIA (EX. NEAR EAST)       127463611             28200
9           Mexico   LATIN AMER. & CARIB       107449525              9000
10         Vietnam  ASIA (EX. NEAR EAST)        84402966              2500
11         Germany        WESTERN EUROPE        82422299             27600
12           Egypt       NORTHERN AFRICA        78887007              4000
13          Turkey             NEAR EAST        70413958              6700
14            Iran  ASIA (EX. NEAR EAST)        68688433              7000
15          France        WESTERN EUROPE        60876136             27600
16  United Kingdom        WESTERN EUROPE        60609153             27700
17           Italy        WESTERN EUROPE        58133509             26700
18         Ukraine                   CIS        46710816              5400
19    South Africa    SUB-SAHARAN AFRICA        44187637             10700
20           Spain        WESTERN EUROPE        40397842             22000
21       Argentina   LATIN AMER. & CARIB        39921833             11200
22          Poland        EASTERN EUROPE        38536869             12100
23          Canada      NORTHERN AMERICA        33098932             29800

In [7]:
df2.info()  # informace o datovem ramci

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Název země        24 non-null     object
 1   Region            24 non-null     object
 2   Počet obyvatel    24 non-null     int64
 3   HDP na osobu ($)  24 non-null     int64
dtypes: int64(2), object(2)
memory usage: 900.0+ bytes

In [8]:
df2.shape  #pocet radku a sloupcu

(24, 4)